{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>YouTrack Activities</h2>
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      {{#paper-button onClick=(action "invalidateSession")}}
        Logout
        {{paper-icon "exit_to_app"}}
      {{/paper-button}}
    {{/if}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{outlet}}